body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.project-logo {
  color: aliceblue;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}
.signedInLinks {
  display: flex;
  color: white;
  list-style-type: none;
  justify-content: space-around;
}
.signedInLinks li {
  padding: 10px;
}
.signedInLinks a {
  color: white;
}
.signedInLinks a:hover {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}
